<u>Votecount for Day {{day}}</u>
  <table>
  {{#each votes}}
  <tr>
  <td>{{voteChart num mod ../toExecute}}</td>
  <td><b>{{target}} ({{num}})</b>:</td>
  <td>{{listNames names}}</td>
  </tr>
  {{/each}}
  <tr>
  <td></td>
  <td>Not Voting ({{numNotVoting}}):</td>
  <td>{{listNames notVoting}}</td>
  </tr>
  </table>
  
  With {{numPlayers}} playing, it's <b>{{toExecute}} to lynch!</b>
